.highlight { 
    background-color: #1e40af; 
    color: white; 
    border-radius: 4px; 
    padding: 2px 0; 
    transition: all 0.2s; 
}

#viewer { 
    white-space: pre-wrap; 
    overflow-y: auto; 
}

[contenteditable]:focus { 
    outline: none; 
}

.custom-scrollbar::-webkit-scrollbar { 
    width: 6px; 
}

.custom-scrollbar::-webkit-scrollbar-thumb { 
    background: #374151; 
    border-radius: 10px; 
}

.loading-overlay { 
    position: absolute; 
    inset: 0; 
    background: rgba(0,0,0,0.7); 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    z-index: 10; 
    border-radius: 1rem; 
}

#chat-circle {
    position: fixed;
    bottom: 50px;
    right: 50px;
    background: #4A90E2;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: white;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.2);
}

.chat-box {
    display: none;
    position: fixed;
    right: 30px;
    bottom: 50px;
    width: 350px;
    max-width: 85vw;
    max-height: 500px;
    background: #bf68fd;
    color: #374151;
    border-radius: 5px;
    box-shadow: 0px 5px 35px 9px rgba(0,0,0,0.1);
}

.chat-box-header {
    background: #4A90E2;
    padding: 15px;
    color: white;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.chat-box-toggle {
    float: right;
    cursor: pointer;
}

.chat-logs {
    padding: 15px;
    height: 350px;
    overflow-y: auto;
}

.chat-input {
    padding: 15px;
    border-top: 1px solid #151515;
}

#chat-input {
    width: 80%;
    border: none;
    outline: none;
}